html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: $negro;
}
p {
  font-size: 1.6rem;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
