// Fuentes
$fuente_principal: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$calipso: #16c79a;
$azul: #008bbe;
$naranjo: #ffc300;
$rojo: #bf0022;
$calipso-dark: #226074;
$negro: #1e1e1e;
$blanco: #fff;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 600;
$superBold: 800;
