// .contact-card {
//   margin: 1rem auto;
//   padding: 1rem;
//   width: 100%;
//   height: 144px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }

// .contact-card > svg {
//   width: 2rem;
//   height: 2rem;
//   fill: $azul;
// }

// .contact-card > small {
//   margin-top: -1rem;
// }

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 80rem;

  & > * {
    padding: 0.5rem;
    margin: 2rem auto;
    display: block;
    width: 100%;
  }

  input {
    border: 0;
    border-bottom: thin solid $azul;
    padding: 1rem;
  }
  textarea {
    border: thin solid $azul;
    resize: none;
    padding: 1rem;
  }

  input[type="submit"] {
    margin-top: $separacion / 2;
    cursor: pointer;
    transition: all 0.5s ease-out;
    max-width: 30rem;

    &:hover {
      opacity: 0.75;
    }
  }
  *::placeholder {
    color: #827e81;
  }
}

.contact-form-response {
  padding: 1rem;
  max-width: 400px;
  text-align: center;
  background-color: $blanco;
}
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

/* ********** Modal ********** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 87, 51, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: $calipso;
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}
.none {
  display: none;
}
