.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}
/* Hero section styles */
// .hero {
//   width: 100%;
//   height: 100vh;
//   background: url("./assets/images/hero-image.jpg") center no-repeat;
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   position: relative;
//   z-index: 0;
// }

/* .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: var(--purple-transparent-alt);
  z-index: -1;
} */

.main-heading {
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5rem;
}
.title {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
.title span {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(248, 241, 241, 0.5);
  -webkit-text-stroke: 0.2vw #00c4a1;
  display: inline-block;
}
.title span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #11998e;
  -webkit-text-stroke: 0vw #00c4a1;
  border-right: 2px solid #00c4a1;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.subtitle {
  font-size: 3.6rem;
  font-weight: 300;
  font-family: "Courgette", cursive;
}
