.exam {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .box {
    min-width: 30rem;
    max-width: 55rem;
    position: relative;
    background-color: $blanco;
    padding: 6rem 4rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $calipso;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.5s;
    }
    &:hover:before {
      transform: scaleY(1);
      transform-origin: bottom;
      transition: transform 0.5s;
    }
    &:last-of-type {
      margin-bottom: 8rem;
    }

    .box-number {
      position: absolute;
      right: 1rem;
      top: -4rem;
      font-size: 8rem;
      font-weight: 800;
      z-index: 1;
      opacity: 0.3;
      transition: 0.5s;
      color: $naranjo;
    }

    &:hover .box-number {
      opacity: 1;
      color: $blanco;
      transform: translateY(-4rem);
    }

    h5 {
      position: relative;
      font-size: 2.3rem;
      z-index: 2;
      color: #333;
      transition: 0.5s;
    }

    .box-text {
      position: relative;
      font-size: 1.6rem;
      line-height: 1.5;
      z-index: 2;
      color: #333;
      transition: 0.5s;

      i {
        color: $naranjo;
      }
    }

    &:hover h5,
    &:hover .box-text,
    &:hover i {
      color: $blanco;
    }
  }
}
