.project-grid {
  @include desktop {
    .text-left {
      text-align: left;
    }
    display: flex;
    align-items: center;
    @include grid(2, $separacion);
  }
  p {
    // display: grid;
    // grid-template-columns: 1fr;
    line-height: 1.7;
    // margin-bottom: 1.3rem;
    span {
      font-weight: $bold;
    }
    @include desktop {
      text-align: end;
      font-size: 1.6rem;
      line-height: 2;
    }
  }
  .project-img img {
    /* height: 100%; */
    // width: 100%;
    /* background: url("./assets/images/img-1.jpg") center no-repeat; */
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    padding: $separacion / 2 0;
    // display: flex;
    // margin-top: 5rem;
    @include desktop {
      max-width: 45rem;
    }
  }
}
.project {
  margin-bottom: 10rem;
}
.responsibility {
  background-color: rgba($color: $rojo, $alpha: 0.1);
  padding: 5rem 0;
  .section-title {
    margin: 0 auto 5rem;
  }
}
