.project-grid {
  @include desktop {
    .text-left {
      text-align: left;
    }
    display: flex;
    align-items: center;
    @include grid(2, $separacion);
  }
  p {
    line-height: 1.7;
    span {
      font-weight: $bold;
    }
    @include desktop {
      text-align: end;
      font-size: 1.6rem;
      line-height: 2;
    }
  }
  .project-img img {
    padding: $separacion / 2 0;
    @include desktop {
      max-width: 45rem;
    }
  }
}
.project {
  margin-bottom: 10rem;
}
.responsibility {
  background-color: rgba(255, 195, 0, 0.1);
  padding: 5rem 0;
  .section-title {
    margin: 0 auto 5rem;
  }
}
